// --------------- Animation SVG An Infinity ---------------

#aninfinitymov path:nth-child(2) {
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
    
}
#aninfinitymov path:nth-child(3) {
    stroke-dasharray: 495;
    stroke-dashoffset: 495;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
#aninfinitymov path:nth-child(4) {
    stroke-dasharray: 635;
    stroke-dashoffset: 635;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
#aninfinitymov path:nth-child(5) {
    stroke-dasharray: 604;
    stroke-dashoffset: 604;
    animation:line-anim 11.87s ease forwards 0.8s infinite;   
}
#aninfinitymov path:nth-child(6) {
    stroke-dasharray: 463;
    stroke-dashoffset: 463;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
#aninfinitymov path:nth-child(7) {
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
#aninfinitymov path:nth-child(8) {
    stroke-dasharray: 604;
    stroke-dashoffset: 604;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
#aninfinitymov path:nth-child(9) {
    stroke-dasharray: 570;
    stroke-dashoffset: 570;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
#aninfinitymov path:nth-child(10) {
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
#aninfinitymov path:nth-child(11) {
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation:line-anim 11.87s ease forwards 0.8s infinite;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
.text_anime_logo_infinity_img {
    width: 150px;
    margin-left: 25px;
    margin-top: 25px;
}
// --------------- END of Animation SVG An Infinity ---------------

// --------------- DIV for Tablet only ---------------
.animate_tablet {
    display: flex;
}

// --------------- Render letter "of" ---------------

.title_aninfinity {
    font-size: 4rem;
    font-family: RabbiHighway sans-serif;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    color:white;
    margin-left: 10px;
    margin-top: 6px;
    margin-right: 15px;
}
.aninfinitymovall {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.aninfinitymovallflex {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
}
// --------------- Subtitle of Animation SVG An Infinity and flip text ---------------
.subtitle_aninfinity {
    h2 {
        margin-top: 7px;
        font-size: 65px;
        font-weight: 300;
        font-family: RabbiHighway sans-serif;
    }
}


// --------------- Animation flip text ---------------

#container_aninfinity {
  font-size:50px;
  font-weight:bold;
  font-family: RabbiHighway sans-serif;
}

#flip_aninfinity {
  height:77px;
  overflow:hidden;
}

#flip_aninfinity > div > div {
  color:black;
  height:40px;
  margin-bottom:50px;
  display:inline-block;
  font-size: 40px;
  font-family: RabbiHighway sans-serif;
}

#flip_aninfinity div:first-child {
    font-size: 65px;
    animation: show 12s reverse infinite;
}

// --------------- Keyframe anime flip text ---------------

@keyframes show {
  0% {margin: top -330px;}
  //supply
  5% {margin-top:-228px;}
  25% {margin-top:-228px;}
  // word influence
  30% {margin-top:-150px;}
  50% {margin-top:-150px;}
  // Strategic
  55% {margin-top: -72px;}
  75% {margin-top: -72px;}
  // Digital
  80% {margin-top:3px;}
  99.99% {margin-top:3px;}
  100% {margin-top:-330px;}
  
}
@media only screen and (max-width: 600px) {
    .text_anime_logo_infinity {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    .text_anime_logo_infinity_img {
        width: 120px;
        height: auto;
    }
    .animate_letter {
        display: flex;
        flex-direction: column;
    }
    .subtitle_aninfinity {
        display: flex;
        justify-content: center;
        h2 {
            margin-top: 10px;
            font-size: 29px;
            font-weight: 300;
            font-family: RabbiHighway sans-serif;
        }
    }
    .animate_tablet {
        display: flex;
        flex-direction: column;
    }
    .aninfinitymovallflex {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    #flip_aninfinity {
        display: block;
        position: relative;
        bottom: 12px;
        height: 67px;
    }
    #container_aninfinity {
        display: flex;
        font-size:40px;
        font-weight:bold;
        font-family: RabbiHighway sans-serif;
    }
    #flip_aninfinity > div > div {
        height: 34px;
        margin-bottom: 50px;
    }
    #flip_aninfinity div:first-child {
        font-size: 50px;
        animation: show 12s reverse infinite;
    }

    #aninfinitymov {
        width: 320px;
        margin-bottom: 20px;
    }
    .title_aninfinity {
        font-size: 50px;
        font-family: RabbiHighway sans-serif;
        text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
        color:white;
        margin-top: -8px;
        margin-right: 15px;
        margin-left: 0px;
    }
}
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 
//     .animate_letter {
//         display: flow-root;
//     }
// }
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .subtitle_aninfinity{
        h2 {
            font-size: 66px;
            // margin-left: 100px;
            margin-top: 40px;
        }
    }
    .subtitle_aninfinity {
        margin-left: 0;
        h2 {
            margin-top: 10px;
            font-size: 55px;
            font-family: RabbiHighway sans-serif;
            display: ruby;
        }
    }
    .animate_tablet {
        display: flex;
        // margin-left: 100px;
    }
    // #container_aninfinity {
    //     margin-left: 100px;
    // }
    .animate_letter {
        display: block;
    }
    .aninfinitymovallflex {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
        margin-right: 130px;
    }
}
@media only screen and (min-width: 1250px) {
    .animate_letter {
        display: flex;
    }
    #container_aninfinity {
        margin-left: 0px;
        display: flex;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

   .text_anime_logo_infinity_img {
       width: 100px;
   }
   .text_anime_logo_infinity {
       margin-left: auto;
       margin-right: auto;
   }
   .aninfinitymovallflex {
       margin-left: 10px;
   }
   .animate_letter {
       display: flex;
   }
   .animate_tablet {
    width: 300px;
    display: flex;
    bottom: 10px;
    position: relative;
   }
   #container_aninfinity {
       display: flex;
   }
   .subtitle_aninfinity {
    // display: flex;
    // justify-content: center;
        h2 {
            margin-top: 10px;
            font-size: 46px;
            // font-weight: 10;
            font-family: RabbiHighway sans-serif;
        }
    }
    #flip_aninfinity div:first-child {
        font-size: 55px;
    }
    .title_aninfinity {
        font-size: 50px;
    }
    #flip_aninfinity > div > div {
        color: black;
        height: 38px;
        margin-bottom: 45px;
    }
}