$dark-orange : #DF7806;
$light-orange: #F99E0B;
$red: #C30700;

footer {

    font-family: Aargh sans-serif;
    background:$dark-orange;
    

    p{

        padding:0%;
        font-size:10px;
        font-family: StMarie sans-serif;
    }
}
.mainFooter {

    height:100%;
    display:flex;
    flex-direction: column;
}
.contentFooter {

    display:flex;
    flex-direction: column;
    // padding:5%;
    
}

.content2Footer {

    display:flex;
    justify-content: space-between;
    // margin-top:2%;
}

.logoFooter {

    width:30%;
    position:relative;

}

.pictlogo {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: center;
    p {
        width:0;
    }
   
}

.socialFooter {

    
    border-right: 1px black solid;
    display:flex;
    justify-content: center;
    width:100%;

    p{
        font-size:1rem;
    }

    &:nth-child(1){
        order:2;
    }

    .socialIcon {

        display:flex;
        justify-content: center;
        align-items: center;
    

    p{

        margin:12px;
        font-size:2rem;
      
    }
    img {
        position:relative;
        left: 30px;
    }
}

}

.infoFooter {
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    ul{
        font-size:10px;
    }
    &:nth-child(2){
        order:2;
    }

    li {
        font-weight: bold;
    }
}




.titleFooter {

    font-size: 1.2rem;
    color: white;
    
    font-family: RabbiHighway sans-serif;

}

.contactFooter {

    border-right: 1px black solid;
    width:70%;
    &:nth-child(3){
        order:1;
    }
}

.copyrightFooter {

    display:flex;
    justify-content: space-between;
    font-size: 8px;
    width:100%;

    p{
        text-align:left;
    }

    ul {
        display:flex;
        justify-content: center;
        align-items: center;

        li{
            margin-right: 2px;
        }
    }
}

@media screen and (max-width: 767px) {

    footer {
        p {
            font-family: StMarie sans-serif;
            font-size: 1.4rem;
        }
    }
    .mainFooter {
        justify-content: center;
    }
    .contentFooter{
        align-items: center;
        flex-direction: column;
    }
    .content2Footer {

        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .logoFooter {

        width: 60%;
        margin-bottom:20%;
        left:0;
    
        
    
    }
    .titleFooter {
        font-size: 1.8rem;
        font-weight: lighter;
        margin-bottom:10%;
    }

    .socialFooter {

        width:100%;
        border:none;
        text-align: center;
        

        p{

            font-size:1rem;
            width:100%;
        }
    }
    .socialIcon {
        text-align: center;
        width:30%;
        i {
            font-size:3.5rem;
        }
    }

    .infoFooter{

        display:none;
    
    }

    .contactFooter{

        display:flex;
        flex-direction: column;
        align-items: center;
        border:none;
        margin-bottom:10%;

        p{
            width:100%;
        }
    }

    .pictlogo {
        margin-bottom:10%;
    }

    .copyrightFooter{

        border-top: 1px black solid;
        font-size: 12px;
        color:rgb(187, 187, 187);
        display:flex;
        position: relative;
        bottom:-60px;
        align-items:center;
        
        p{
            font-size:8px;

        }
        ul{
            font-size:8px;
        }
    }
    
}


// Tablet version
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

    footer {
       
        p {
            font-family: StMarie sans-serif;
            font-size: 1.4rem;
        }
    }
    .mainFooter {
        justify-content: center;
    }
    .contentFooter{
        align-items: center;
        flex-direction: column;
    }
    .content2Footer {

        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .logoFooter {

        width: 40%;
        margin-bottom:10%;
        left:0;
    
        
    
    }
    .titleFooter {
        font-size: 1.8rem;
        font-weight: lighter;
        margin-bottom:10%;
    }

    .socialFooter {

        width:100%;
        border:none;
        text-align: center;
        

        p{

            font-size:1rem;
            width:100%;
        }
    }
    .socialIcon {
        text-align: center;
        width:30%;
        i {
            font-size:3.5rem;
        }
    }

    .infoFooter{

        display:none;
    
    }

    .contactFooter{

        display:flex;
        flex-direction: column;
        align-items: center;
        border:none;
        margin-bottom:10%;

        p{
            width:100%;
        }
    }

    .pictlogo {
        margin-bottom:10%;
    }

    .copyrightFooter{

        border-top: 1px black solid;
        font-size: 12px;
        color:rgb(187, 187, 187);
        display:flex;
        position: relative;
        bottom:-160px;
        align-items:center;
        
        p{
            font-size:8px;

        }
        ul{
            font-size:8px;
        }
    }
    
}

// TABLET VERSION LANDSCAPE

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    footer{
        margin-top:-10%;
    }
    .logoFooter {

        width:20%;
        margin-top:10%;
    }

  }



@font-face {
    font-family: RabbiHighway sans-serif;
    src: url('./fonts/RabbidHighwaySignII.otf');
  }
  
  @font-face {
    font-family: Aargh sans-serif;
    src: url('./fonts/Aaargh.ttf');
  }
  
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .logoFooter {
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .logoFooter {
        margin-bottom: 20px;
    }
    .socialIcon {
        display: flex;
        position: relative;
        top: 0px;
        align-items: center;
    }
    .soialIconLogo2 {
        margin-left: 30px;
        margin-right: 30px;
    }
    .titleFooter { 
        display: flex;
        position: relative;
        line-height: 70px;
        top: 20px;
    }
    .copyrightFooter {
        display: flex;
        position: relative;
        top: 10px;
    }
}