// formPart css 

textarea {
    resize: none;
}

// Mobile format

@media only screen and (max-width: 600px){
    
    .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage {
        margin-top: 10px;
    }

    #namePart, #emailPart, #subjetPart, #messagePart {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #f3f3f3;
    }
    #messagePart {
        height: 150px;
    }
    #messagePart::placeholder {
        padding-top: 12px;
    }

    #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder {
        color: #c7ceda;
        padding-left: 20px;
    }
    .buttonPart {
        margin-top: 20px;
        background-color: #DF7806;
        color: white;
        width: 180px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 50px;
    }

    .imagePart2 {
        display: none;
    }
    .imagePart3 {
        display: none;
    }
    .titlePart {
        font-size: 1.5rem;
        margin-bottom: 10px ;
    }

    .containerPart {
        margin: 10px;
    }
}

// Tablet format

@media only screen and (min-width: 768px) {

    .containerPart {
        margin: 20px;
    }
    .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage {
        margin-top: 10px;
    }

    #namePart, #emailPart, #subjetPart, #messagePart {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #868686;
    }
    #messagePart {
        height: 150px;
    }
    #messagePart::placeholder {
        padding-top: 12px;
    }

    #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder {
        color: #9c9c9c;
        padding-left: 20px;
    }
    .buttonPart {
        margin-top: 20px;
        background-color: #DF7806;
        color: white;
        width: 180px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 50px;
    }

    .imagePart {
        display: flex;
        flex-direction: column;
    }
    .imagePart2 {
        width: 100%;
        margin-top: 30px;
    }
    .imagePart3 {
        display: none;
    }
    .titlePart {
        font-size: 1.5rem;
        margin-bottom: 10px ;
    }

}

// Laptop format

@media only screen and (min-width: 992px) {

    .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage, .inputPartCompany {
        margin-top: 10px;
    }
    // input {
    //     margin-left: 10px;
    // }

    #namePart, #emailPart, #subjetPart, #messagePart, #inputPartCompany {
        margin-top: 10px;
        width: 150%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #f3f3f3;
    }
    #messagePart {
        height: 150px;
    }
    #messagePart::placeholder {
        padding-top: 12px;
    }

    #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder {
        color: #c7ceda;
        padding-left: 20px;
    }
    .buttonPart {
        margin-top: 20px;
        background-color: #DF7806;
        color: white;
        width: 180px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 50px;
    }

    .imagePart {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 60px;
    }

    .imagePart2 {
        width: 100%;
        margin-top: 30px;
    }
    .imagePart3 {
        display: flex;
        width: 70%;
        justify-content: center;
    }
    .titlePart {
        font-size: 1.5rem;
        margin-bottom: 15px ;
    }
    .textPart {
        margin-bottom: 15px;
    }

    .containerPart {
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 80px;
        display: flex;
    }
    .leftPart {
        margin-right: 200px;
    }

}    

@media only screen and (min-width: 1200px) {
    .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage, .inputPartCompany {
        margin-top: 10px;
    }
    // input {
    //     margin-left: 10px;
    // }
    #namePart, #emailPart, #subjetPart, #messagePart, #yourCompany {
        margin-top: 10px;
        width: 110%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #f3f3f3;
    }
    #messagePart {
        height: 150px;
    }
    #messagePart::placeholder {
        padding-top: 12px;
    }

    #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder, #yourCompany::placeholder {
        color: #c7ceda;
        padding-left: 20px;
    }
    .buttonPart {
        margin-top: 20px;
        background-color: #F99E0B;
        color: white;
        width: 180px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 50px;
        transition: 300ms;
        &:hover {
            background-color: #DF7806; 
            transform: scale(1.2);
            transition: 300ms;
        }
    }
    .imagePart {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 60px;
    }

    .imagePart2 {
        width: 100%;
        margin-top: 30px;
    }
    .imagePart3 {
        display: flex;
        width: 70%;
        justify-content: center;
    }
    .titlePart {
        font-size: 1.5rem;
        margin-bottom: 15px ;
    }
    .textPart {
        margin-bottom: 15px;
    }

    .containerPart {
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 80px;
        display: flex;
    }
    .leftPart {
        margin-right: 200px;
    } 
}
.buttonPart {
    cursor: pointer;
}

@media only screen and (min-width: 1250px) {
    
}