body {
	background-color: #fafafa;
}

.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99;
	transition: all 350ms ease;
	opacity: 100;
	visibility: hidden;
	pointer-events: none;
}

.prompt {
	position: fixed;
	width: 100%;
	text-align: center;
	line-height: 114px;
	font-family: Georgia;
	color: #666;
}

.reveal {
	// opacity: .85;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
    z-index: 99;
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 70px;
	height: 100px;
	overflow: auto;
	left: calc(100% - 85px);
	// top: 20px; review for desktop mode, create a media queries for this !!!
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: none;
}

.top, .middle{
	position: absolute;
	width: 62px;
	height: 6px;
	background-color: black;
	transition: all 350ms ease-in-out;
	top: 27px;
}

.middle {
	top: 40px;
}

#menu {
    z-index: 99;
	position: fixed;
	left: 400px;
	top: 10px;
	color: black;
	display: none;
	margin: 120px 30px;
	text-decoration: none;
	font-family: RabbiHighway sans-serif;
	font-size: 75px;
	text-transform: uppercase;
	color: black;
	padding: 24px;
	width: 500px;
	text-align: right;
}

#menu li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	list-style: none;
	color: #000;
	transition: all 150ms ease;
}

#menu {
	a {
	text-decoration: none;
	color: inherit;
	}
	ul {
		line-height: 4rem;

	}



}
.menu-open .top {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: #C30700;
	height: 2px;
}

.menu-open .middle {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: #C30700;
	height: 2px;
}

.menu-name {
	font-family:  RabbiHighway sans-serif;
	font-weight: 100;
	color: black;
	font-size: 21.5px;
	text-decoration: none;
	position: absolute;
	top: 56px;
	left: -1px;
	transition: all 350ms;
}

.menu-open .menu-name {
	top: 64px;
	color: #C30700;
}

.responsive-box {
	background-color: #ddd;
	margin: 2%;
	float: left;
}

.box-1 {
	width: 96%;
	height: 300px;
}

.box-2, .box-3, .box-4 {
	width: 29.333%;
	height: 140px;
}

.box-5 {
	width: 62.666%;
	height: 492px;
}

header {
	width: 100%;
	height: 120px;
}

.par-1, .par-2, .par-3 {
	width: 70%;
	margin: 1% 2%;
	background-color: #888;
	height: 16px;
	float: left;
}

.par-2 {
	width: 56%;
}

.par-3 {
	width: 64%;
}

// SCREEN WITHOUT RETINA
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

	.logoMobile {
		display:none;
	}
	.logoDeskop {
		width:50%;
		left:-570px;
		position:relative;
		top:-100px;

	}

	#menu{
		margin: 230px -371px;
		font-size: 24px;
		ul{
			font-size: 24px;
			text-align: right;
			bottom: 150px;
			position: relative;
			left: 870px;
			line-height: initial;
		}
		li{
			font-size:24px;
		}
		.logoMobile{
			display:none;
		}
		.logoDeskop{
			left: -217px;
			top: -250px;
		}
	}

	.socialIconMenu{
		bottom:300px;
		position:relative;
		right:310px;
		a{
			margin-right:2%;
		}
	}

	.newsletterMenu{
		bottom: 270px;
		position: relative;
		right: 290px;
		.stay {
			font-size: 24px;
			color: #C30712;
			font-family: RabbiHighway sans-serif;
			font-weight: bold;

		}
		.news {
			line-height: 30px;
			font-family: StMarie sans-serif;
			font-size: 24px;
		}
	}

	.paperPlaneSolo{
		position:relative;
		left:45px;
		top:40px;
	}

	.buttonsMenu{
		position:relative;
		bottom:50px;
		a {
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}

	.titleInfoMenu {
		font-size: 16px;
		font-family: RabbiHighway sans-serif;
		color: #C30712;
		margin-bottom: 15px;
	}
	.adressInfoMenu {
		font-size: 14px;
		font-family:  Aargh sans-serif;
		text-transform: lowercase;
		font-weight: bold;
	}
	.mailMenu {
		font-family:  Aargh sans-serif;
		font-size: 14px;
		color: #C30712;
		margin-top: 20px;
		width: 290px;
		font-weight: bold;
	}
	.copyrightMenu {
		position:relative;
		top: -100px;
		right: -500px;
		a {
			display: flex;
			bottom: 150px;
			position: relative;
			left: 205px;
			font-size: 9px;
			font-family:  Aargh sans-serif;
		}
	}
	.infosMenu {
		display: block;
		position: relative;
		bottom: 0px;
		right: -35px;
		top:-649px;
		text-align: left;
	}
	.buttonsMenu{
		bottom:235px;
		right:150px;
	}
}
/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

	.logoMobile {
		display:none;
	}
	.logoDeskop {
		width:50%;
		left:-570px;
		position:relative;
		top:-100px;

	}

	#menu{
		margin: 230px -371px;
		font-size: 24px;
		ul{
			font-size: 24px;
			text-align: right;
			bottom: 150px;
			position: relative;
			left: 870px;
			line-height: initial;
		}
		li{
			font-size:24px;
		}
		.logoMobile{
			display:none;
		}
		.logoDeskop{
			left: -217px;
			top: -250px;
		}
	}

	.socialIconMenu{
		bottom:300px;
		position:relative;
		right:310px;
		a{
			margin-right:2%;
		}
	}

	.newsletterMenu{
		bottom: 270px;
		position: relative;
		right: 290px;
		.stay {
			font-size: 24px;
			color: #C30712;
			font-family: RabbiHighway sans-serif;
			font-weight: bold;

		}
		.news {
			line-height: 30px;
			font-family: StMarie sans-serif;
			font-size: 24px;
		}
	}

	.paperPlaneSolo{
		position:relative;
		left:45px;
		top:40px;
	}

	.buttonsMenu{
		position:relative;
		bottom:50px;
		a {
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}

	.titleInfoMenu {
		font-size: 16px;
		font-family: RabbiHighway sans-serif;
		color: #C30712;
		margin-bottom: 15px;
	}
	.adressInfoMenu {
		font-size: 14px;
		font-family:  Aargh sans-serif;
		text-transform: lowercase;
		font-weight: bold;
	}
	.mailMenu {
		font-family:  Aargh sans-serif;
		font-size: 14px;
		color: #C30712;
		margin-top: 20px;
		width: 290px;
		font-weight: bold;
	}
	.copyrightMenu {
		position:relative;
		top: -100px;
		right: -500px;
		a {
			display: flex;
			bottom: 150px;
			position: relative;
			left: 205px;
			font-size: 9px;
			font-family:  Aargh sans-serif;
		}
	}
	.infosMenu {
		display: block;
		position: relative;
		bottom: 0px;
		right: -35px;
		top:-649px;
		text-align: left;
	}
	.buttonsMenu{
		bottom:235px;
		right:160px;
	}
}
//  HUAWEI LITE MATE 20 
@media screen
  and (device-width: 360px)
  and (device-height: 780px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
	#menu {
        z-index: 99;
        position: fixed;
        left: calc(100% - 290px);
        top: 10px;
        color: black;
        display: none;
        margin: -20px -30px;
        text-decoration: none;
		font-family: RabbiHighway sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        padding: 0px;
        width: 100%!important;
        text-align: left;
        ul {
            line-height: 1rem;
			margin-top:17%;
        }
        li {
            font-size: 18px;
        }
		img{
			width:20%;
			top:20px;
			position:relative;
			left:-34px;
			display:block;
		}
		.logoMobile{
			display:block;

		}
		.logoDeskop{
			display:none;
		}
    }

	.socialIconMenu{
		margin-top:7%;
		margin-bottom:6%;
		a{
			font-size:39px;
			margin:3%;
		}
	}
	.newsletterMenu{
		text-transform: uppercase;
		
		// margin-top:7%;
		.paperPlaneSolo{
			display:flex;
			position:relative;
			left:100px;
			top:36px;
		}
		div{
			display:flex;
			flex-direction: column;
		}
		.stay{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
		}
		.news{
			font-family: StMarie sans-serif;

		}
	}
	.buttonsMenu{
		display:flex;
		margin-bottom: 10%;
		margin-top:1%;
		position:relative;
		right:3px;
		a {
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}
	.infosMenu{
		margin-top:3%;
		.titleInfoMenu{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
			text-transform: uppercase;
			margin-bottom:3%;

		}
		p{
			font-family: Aargh sans-serif;
			font-size:14px;
			text-transform: initial;
		}

		.mailMenu{
			color:$red;
			margin-top:3%;
		}

	}

	.copyrightMenu{
		display: flex;
		justify-content: center;
		position:relative;
		top:15px;
		right:60px;
		font-family: Aargh sans-serif;
		right:60px;

		a{
			font-size:9px;
		}
	}
  }


//  HUAWEI LITE MATE 20 
@media screen
  and (device-width: 360px)
  and (device-height: 780px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
	#menu {
		left: calc(65% - 350px);
		top:-117px;
		padding:initial;

		li{
			font-size:18px;
		}
		img{
			width:20%;
			position:relative;
			right:80px;

		}
		ul{
			line-height: initial;
			top:50px;
		}
		.logoMobile{
			display:block;
		}
		.logoDeskop{
			display:none;
		}
	}

	.socialIconMenu{
		left:11px;
		position:relative;
		top:60px;
	}

	#menu1{
		left:125px;
		position:relative;
		li{
			margin-bottom:initial;
		}
	}

	.newsletterMenu{
		bottom:150px;
		left:-357px;
		position:relative;
		.stay{
			color:$red;
			font-weight: bold;
			font-family: RabbiHighway sans-serif;
			font-size:16px;
		}
		.news{
			font-size:16px;
			font-family: StMarie sans-serif;
		}
	}
	.infosMenu{
		position:relative;
		bottom:350px;
		left:-75px;
		text-align: left;
		text-transform: initial;
		.titleInfoMenu{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			text-transform: uppercase;

		}
		.mailMenu{
			margin-top:5%;
			color:$red;
			text-transform: initial;
		}
	}
	.titleInfoMenu{
		color:$red;
		margin-bottom:5%;
	}
	.buttonsMenu{
		bottom:90px;
		position:relative;
		font-size:11px;
		left:-200px;
		a{
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%
		}
	}

	.paperPlaneSolo{
		position:relative;
		left:55px;
		top:47px;
	}

	.copyrightMenu{
		position:relative;
		top:-170px;
		font-size: 9px;
		left:40px;
		color:black;
	}
  }

/* ----------- GALAXY MOBILE PORTRAIT----------- */
@media screen
  and (device-width: 360px)
  and (device-height: 740px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {
	#menu {
        z-index: 99;
        position: fixed;
        left: calc(100% - 290px);
        top: 10px;
        color: black;
        display: none;
        margin: -20px -30px;
        text-decoration: none;
		font-family: RabbiHighway sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        padding: 0px;
        width: 100%!important;
        text-align: left;
        ul {
            line-height: 1rem;
			margin-top:17%;
        }
        li {
            font-size: 18px;
        }
		img{
			width:20%;
			top:20px;
			position:relative;
			left:-34px;
			display:block;
		}
		.logoMobile{
			display:block;

		}
		.logoDeskop{
			display:none;
		}
    }

	.socialIconMenu{
		margin-top:7%;
		margin-bottom:6%;
		a{
			font-size:39px;
			margin:3%;
		}
	}
	.newsletterMenu{
		text-transform: uppercase;
		margin-top:7%;
		.paperPlaneSolo{
			display:flex;
			position:relative;
			left:100px;
			top:36px;
		}
		div{
			display:flex;
			flex-direction: column;
		}
		.stay{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
		}
		.news{
			font-family: StMarie sans-serif;

		}
	}
	.buttonsMenu{
		display:flex;
		margin-bottom: 7%;
		a {
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}
	.infosMenu{
		margin-top:7%;
		.titleInfoMenu{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
			text-transform: uppercase;
			margin-bottom:3%;

		}
		p{
			font-family: Aargh sans-serif;
			font-size:14px;
			text-transform: initial;
		}

		.mailMenu{
			color:$red;
			margin-top:3%;
		}

	}

	.copyrightMenu{
		display: flex;
		justify-content: center;
		position:relative;
		top:15px;
		right:60px;
		font-family: Aargh sans-serif;
		right:60px;

		a{
			font-size:9px;
		}
	}

}

/* ----------- iPhone 6, 7, 8 AND XR MOBILE PORTRAIT----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	#menu {
        z-index: 99;
        position: fixed;
        left: calc(100% - 290px);
        top: 10px;
        color: black;
        display: none;
        margin: -20px -30px;
        text-decoration: none;
		font-family: RabbiHighway sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        padding: 0px;
        width: 100%!important;
        text-align: left;
        ul {
            line-height: 1rem;
			margin-top:17%;
        }
        li {
            font-size: 18px;
        }
		img{
			width:20%;
			top:20px;
			position:relative;
			left:-34px;
			display:block;
		}
		.logoMobile{
			display:block;

		}
		.logoDeskop{
			display:none;
		}
    }

	.socialIconMenu{
		margin-top:7%;
		margin-bottom:6%;
		a{
			font-size:39px;
			margin:3%;
		}
	}
	.newsletterMenu{
		text-transform: uppercase;
		.paperPlaneSolo{
			display:flex;
			position:relative;
			left:100px;
			top:36px;
		}
		div{
			display:flex;
			flex-direction: column;
		}
		.stay{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
		}
		.news{
			font-family: StMarie sans-serif;

		}
	}
	.buttonsMenu{
		display:flex;
		margin-bottom: 10%;
		margin-top:1%;
		position:relative;
		right:3px;
		a {
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}
	.infosMenu{
		margin-top:3%;
		.titleInfoMenu{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
			text-transform: uppercase;
			margin-bottom:3%;

		}
		p{
			font-family: Aargh sans-serif;
			font-size:14px;
			text-transform: initial;
		}

		.mailMenu{
			color:$red;
			margin-top:3%;
		}

	}

	.copyrightMenu{
		// display: flex;
		// justify-content: center;
		// position:relative;
		// top:15px;
		// right:60px;
		// font-family: Aargh sans-serif;
		// right:60px;

		a{
			font-size:9px;
		}
	}
}

/* ----------- iPhone 6, 7, 8 AND XR MOBILE LANDSCAPE----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

	#menu {
		left: calc(65% - 350px);
		top:-117px;
		padding:initial;

		li{
			font-size:18px;
		}
		img{
			width:20%;
			position:relative;
			right:80px;

		}
		ul{
			line-height: initial;
			top:50px;
		}
		.logoMobile{
			display:block;
		}
		.logoDeskop{
			display:none;
		}
	}

	.socialIconMenu{
		left:11px;
		position:relative;
		top:60px;
	}

	#menu1{
		left:125px;
		position:relative;
		li{
			margin-bottom:initial;
		}
	}

	.newsletterMenu{
		bottom:150px;
		left:-357px;
		position:relative;
		.stay{
			color:$red;
			font-weight: bold;
			font-family: RabbiHighway sans-serif;
			font-size:16px;
		}
		.news{
			font-size:16px;
			font-family: StMarie sans-serif;
		}
	}
	.infosMenu{
		position:relative;
		bottom:350px;
		left:-75px;
		text-align: left;
		text-transform: initial;
		.titleInfoMenu{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			text-transform: uppercase;

		}
		.mailMenu{
			margin-top:5%;
			color:$red;
			text-transform: initial;
		}
	}
	.titleInfoMenu{
		color:$red;
		margin-bottom:5%;
	}
	.buttonsMenu{
		bottom:90px;
		position:relative;
		font-size:11px;
		left:-200px;
		a{
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%
		}
	}

	.paperPlaneSolo{
		position:relative;
		left:55px;
		top:47px;
	}

	.copyrightMenu{
		position:relative;
		top:-170px;
		font-size: 9px;
		left:40px;
		color:black;
	}
}
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

	  #menu {
		  left: 285px;
		  top: -119px;
		  width: 287px;
		  font-size: 46px;
	  }
	  #menu ul {
		line-height: 2.8rem;
	}
}


// iphone 6, 7, 8 plus Portrait
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

	#menu {
		font-family: RabbiHighway sans-serif;
		margin-top: initial;
		left: 80px;
		width: 240px !important;
		text-align: left;
			ul {
				line-height: 18px;
				margin-top:initial;
			}
			li {
				font-size: 20px;
				color: black;
			}
			img {
				width: 103px;
				display: block;
				position: relative;
				bottom: 20px;
				top:-10px;
				right: 25px;
				margin-bottom: 10px;
				margin-top:initial;
			}
			.logoDeskop{
				display:none;
			}
	   }
	   .hamburger-shell {
		   top: 20px;
	   }
	   .menu-name {
		   font-size: 14px;
		   left: 10px;
	   }
	   .socialIconMenu {
		   	font-size: 39px;
		   	margin-top: 5%;
			margin-bottom: initial;
			display: flex;
			justify-content: space-between;
			width: 170px;
	   }
	   .stay {
			font-size: 16px;
			color: #C30712;
			font-family: StMarie sans-serif;
			font-weight: bold;

	   }
	   .news {
			line-height: 30px;
			font-family: RabbiHighway sans-serif;
			font-size: 16px;
	   }
	   .buttonsMenu {
			font-family: RabbiHighway sans-serif;
			font-size: 11px;
			width: 300px;
			display: flex;
			margin-bottom: 5%;
			margin-top: 5%;
			a {
				width:126.4px ;
				height: 31.34px;
				border: 1px solid black;
				display: flex;
				margin-right: 8px;
				border-radius: 13px;
				justify-content: center;
				align-items: center;
				-webkit-box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
				box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
			}
	   }
	   .newsletterMenu{
		   margin-top: initial;
		   bottom:15px;
	   }
	   .paperPlaneSolo {
		display: flex;
		position: relative;
		left: 110px;
		top: 39px;
	   }
	   .titleInfoMenu {
			font-size: 16px;
			font-family: RabbiHighway sans-serif;
			color: #C30712;
			margin-bottom: 15px;
	   }
	   .adressInfoMenu {
			font-size: 14px;
			font-family:  Aargh sans-serif;
			text-transform: lowercase;
			font-weight: bold;
	   }
	   .infosMenu{
		   margin-top:10%;
	   }
	   .mailMenu {
			font-family:  Aargh sans-serif;
			font-size: 14px;
			color: #C30712;
			margin-top: 20px;
			width: 290px;
			font-weight: bold;
	   }
	   .copyrightMenu {
			// font-size: 9px;
			// font-family:  Aargh sans-serif;
			// font-weight: bold;
			// display: flex;
			// position: relative;
			// top: 30px;
			// left: 45px;
	   }
}
// iphone 6, 7,8 plus landscape

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

	#menu {
		font-family: RabbiHighway sans-serif;
		margin-top: initial;
		left: initial;
		width: 240px !important;
			text-align: left;
			ul {
				line-height: 18px;
			}
			li {
				font-size: 18px;
				line-height: 10px;
				font-family: RabbiHighway sans-serif;
				color: black;
				text-align: right;
			}
			img {
				width: 103px;
				display: block;
				position: relative;
				top: 122px;
				right: 105px;
			}
			.logoDeskop{
				display:none;
			}
			.logoMobile{
				display:block;
			}
	   }
	   .menu-name {
		font-size: 14px;
		left: 10px;
	}
	#menu1 {
			display: block;
			position: relative;
			left: 240px;
			top: 145px;
	}
	.hamburger-shell {
		top: 20px;
	}
	.socialIconMenu {
		display: flex;
		position: relative;
		top: 125px;
		left: 207px;
		font-size: 39px;
		margin-top: 25px;
		margin-bottom: initial;
		display: flex;
		justify-content: space-between;
		width: 170px;
	}
	.stay {
		font-size: 16px;
		color: #C30712;
		font-family: StMarie sans-serif;
		font-weight: bold;

	}
	.news {
		line-height: 30px;
		font-family: RabbiHighway sans-serif;
		font-size: 16px;
	}
	.buttonsMenu {
		display: flex;
		position: relative;
		right: 92px;
		bottom: 15px;
		font-family: StMarie sans-serif;
		font-size: 11px;
		width: 300px;
		display: flex;
		margin-bottom: 50px;
		margin-top: 10px;
		a {
			width:126.4px ;
			height: 31.34px;
			border: 1px solid black;
			display: flex;
			margin-right: 8px;
			border-radius: 13px;
			justify-content: center;
			align-items: center;
			-webkit-box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
			box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
		}
	}
	.paperPlaneSolo {
	display: flex;
	position: relative;
	left: 115px;
	top: 39px;
	}
	.titleInfoMenu {
		font-size: 16px;
		font-family: RabbiHighway sans-serif;
		color: #C30712;
		margin-bottom: 15px;
	}
	.adressInfoMenu {
		font-size: 14px;
		font-family:  Aargh sans-serif;
		text-transform: lowercase;
		font-weight: bold;
	}
	.mailMenu {
		font-family:  Aargh sans-serif;
		font-size: 14px;
		color: #C30712;
		margin-top: 20px;
		width: 290px;
		font-weight: bold;
	}
	.copyrightMenu {
		a {
			display: flex;
			bottom: 150px;
			position: relative;
			left: 177px;
			font-size: 9px;
			font-family:  Aargh sans-serif;
		}
	}
	.infosMenu {
		display: block;
		position: relative;
		bottom: 305px;
		right: 95px;
	}
	.newsletterMenu {
		display: block;
		position: relative;
		right: 93px;
		bottom: 10px;
	}
}
@media only screen
    and (min-device-width: 375px)
    and (max-device-height: 812px)
    and (orientation : landscape)
    and (-webkit-device-pixel-ratio: 3){
		#menu {
			left: 100px !important;
			top: -130px;
			width: 287px;
			font-size: 35px;
			font-family: RabbiHighway sans-serif;
			margin-top: initial;
			left: initial;
			width: 240px !important;
				text-align: left;
				ul {
					line-height: 18px;
				}
				li {
					font-size: 18px;
					line-height: 10px;
					font-family:RabbiHighway sans-serif;
					color: black;
					text-align: right;
				}
				img {
					width: 103px;
					display: block;
					position: relative;
					top: 122px;
					right: 105px;
				}
				.logoDeskop{
					display:none;
				}
		   }
		   .menu-name {
			font-size: 14px;
			left: 10px;
		}
		#menu1 {
				display: block;
				position: relative;
				left: 300px;
				top: 160px;
		}
		.hamburger-shell {
			top: 20px;
		}
		.socialIconMenu {
			display: flex;
			position: relative;
			top: 125px;
			left: 230px;
			font-size: 39px;
			margin-top: 25px;
			margin-bottom: initial;
			display: flex;
			justify-content: space-between;
			width: 170px;
		}
		.stay {
			font-size: 16px;
			color: #C30712;
			font-family: StMarie sans-serif;
			font-weight: bold;

		}
		.news {
			line-height: 30px;
			font-family: RabbiHighway sans-serif;
			font-size: 16px;
		}
		.buttonsMenu {
			display: flex;
			position: relative;
			right: 92px;
			bottom: 15px;
			font-family: StMarie sans-serif;
			font-size: 11px;
			width: 300px;
			display: flex;
			margin-bottom: 50px;
			margin-top: 10px;
			a {
				width:126.4px ;
				height: 31.34px;
				border: 1px solid black;
				display: flex;
				margin-right: 8px;
				border-radius: 13px;
				justify-content: center;
				align-items: center;
				-webkit-box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
				box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
			}
		}
		.paperPlaneSolo {
		display: flex;
		position: relative;
		left: 115px;
		top: 39px;
		}
		.titleInfoMenu {
			font-size: 16px;
			font-family: RabbiHighway sans-serif;
			color: #C30712;
			margin-bottom: 15px;
		}
		.adressInfoMenu {
			font-size: 14px;
			font-family:  Aargh sans-serif;
			text-transform: lowercase;
			font-weight: bold;
		}
		.mailMenu {
			font-family:  Aargh sans-serif;
			font-size: 14px;
			color: #C30712;
			margin-top: 20px;
			width: 290px;
			font-weight: bold;
		}
		.copyrightMenu {
			a {
				display: flex;
				bottom: 150px;
				position: relative;
				left: 205px;
				font-size: 9px;
				font-family:  Aargh sans-serif;
			}
		}
		.infosMenu {
			display: block;
			position: relative;
			bottom: 305px;
			right: 95px;
		}
		.newsletterMenu {
			display: block;
			position: relative;
			right: 93px;
			bottom: 10px;
		}
 }


// IPHONE X portrait
 @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

	#menu {
        z-index: 99;
        position: fixed;
        left: calc(100% - 290px);
        top: 10px;
        color: black;
        display: none;
        margin: 5px -45px;
        text-decoration: none;
		font-family: RabbiHighway sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        padding: 0px;
        width: 100%!important;
        text-align: left;
        ul {
            line-height: 1rem;
			margin-top:12%;
        }
        li {
            font-size: 18px;
        }
		img{
			width:20%;
			top:20px;
			position:relative;
			left:-25px;
			display:block;
		}
		.logoMobile{
			display:block;

		}
		.logoDeskop{
			display:none;
		}
    }

	.socialIconMenu{
		margin-top:7%;
		margin-bottom:1%;
		a{
			font-size:39px;
			margin:3%;
		}
	}
	.newsletterMenu{
		text-transform: uppercase;
		// display:flex;
		margin-top:0%;
		.paperPlaneSolo{
			display:flex;
			position:relative;
			left:120px;
			top:40px;
		}
		div{
			display:flex;
			flex-direction: column;
		}
		.stay{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
		}
		.news{
			font-family: StMarie sans-serif;

		}
	}
	.buttonsMenu{
		display:flex;
		margin-bottom: 7%;
		margin-top: 2%;
		a {
			border: 1px black solid;
			border-radius: 13px;
			padding: 0%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}
	.infosMenu{
		margin-top:15%;
		.titleInfoMenu{
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			color:$red;
			text-transform: uppercase;
			margin-bottom:3%;

		}
		p{
			font-family: Aargh sans-serif;
			font-size:14px;
			text-transform: initial;
		}

		.mailMenu{
			color:$red;
			margin-top:3%;
		}

	}

	.copyrightMenu{
		position:relative;
		top:30px;
		left:20px;
		font-family: Aargh sans-serif;

		a{
			font-size:9px;
		}
	}

	
}

/* Landscape IPHONE X*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
	#menu {
		font-family: RabbiHighway sans-serif;
		margin-top: initial;
		left: initial;
		width: 240px !important;
			text-align: left;
			ul {
				line-height: 18px;
			}
			li {
				font-size: 18px;
				line-height: 10px;
				font-family: RabbiHighway sans-serif;
				color: black;
				text-align: right;
			}
			img {
				width: 103px;
				display: block;
				position: relative;
				top: 122px;
				right: 105px;
			}
			.logoDeskop{
				display:none;
			}
			.logoMobile{
				display:block;
			}
	   }
	   .menu-name {
		font-size: 14px;
		left: 10px;
	}
	#menu1 {
			display: block;
			position: relative;
			left: 240px;
			top: 145px;
	}
	.hamburger-shell {
		top: 20px;
	}
	.socialIconMenu {
		display: flex;
		position: relative;
		top: 125px;
		left: 207px;
		font-size: 39px;
		margin-top: 25px;
		margin-bottom: initial;
		display: flex;
		justify-content: space-between;
		width: 170px;
	}
	.stay {
		font-size: 16px;
		color: #C30712;
		font-family: StMarie sans-serif;
		font-weight: bold;

	}
	.news {
		line-height: 30px;
		font-family: RabbiHighway sans-serif;
		font-size: 16px;
	}
	.buttonsMenu {
		display: flex;
		position: relative;
		right: 92px;
		bottom: 15px;
		font-family: StMarie sans-serif;
		font-size: 11px;
		width: 300px;
		display: flex;
		margin-bottom: 50px;
		margin-top: 10px;
		a {
			width:126.4px ;
			height: 31.34px;
			border: 1px solid black;
			display: flex;
			margin-right: 8px;
			border-radius: 13px;
			justify-content: center;
			align-items: center;
			-webkit-box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
			box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.22);
		}
	}
	.paperPlaneSolo {
	display: flex;
	position: relative;
	left: 115px;
	top: 39px;
	}
	.titleInfoMenu {
		font-size: 16px;
		font-family: RabbiHighway sans-serif;
		color: #C30712;
		margin-bottom: 15px;
	}
	.adressInfoMenu {
		font-size: 14px;
		font-family:  Aargh sans-serif;
		text-transform: lowercase;
		font-weight: bold;
	}
	.mailMenu {
		font-family:  Aargh sans-serif;
		font-size: 14px;
		color: #C30712;
		margin-top: 20px;
		width: 290px;
		font-weight: bold;
	}
	.copyrightMenu {
		a {
			display: flex;
			bottom: 150px;
			position: relative;
			left: 177px;
			font-size: 9px;
			font-family:  Aargh sans-serif;
		}
	}
	.infosMenu {
		display: block;
		position: relative;
		bottom: 305px;
		right: 95px;
	}
	.newsletterMenu {
		display: block;
		position: relative;
		right: 93px;
		bottom: 10px;
	}

}
/* ----------- iPad 3, 4 and Pro 9.7 Portrait  -----------*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

	#menu{
		margin: 230px -371px;
		font-size: 24px;
		ul{
			font-size: 24px;
			text-align: left;
			bottom: 150px;
			position: relative;
			left: 30px;
			line-height: initial;
		}
		li{
			font-size:24px;
		}
		.logoMobile{
			display:block;
			width:20%;
			position:relative;
			bottom:194px;
		}

		.logoDeskop{
			display:none
		}
	}

	.socialIconMenu{
		bottom:120px;
		position:relative;
		right:245px;

	}

	.newsletterMenu{
		bottom: 110px;
		position: relative;
		right: 197px;
		.stay {
			font-size: 24px;
			color: #C30712;
			font-family: RabbiHighway sans-serif;
			font-weight: bold;
			position:relative;
			left:-3px;

		}
		.news {
			line-height: 30px;
			font-family: StMarie sans-serif;
			font-size: 24px;
		}
	}

	.paperPlaneSolo{
		position:relative;
		left:45px;
		top:40px;
	}

	.buttonsMenu{
		position:relative;
		bottom:50px;
		a {
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}

	.titleInfoMenu {
		font-size: 16px;
		font-family: RabbiHighway sans-serif;
		color: #C30712;
		margin-bottom: 15px;
	}
	.adressInfoMenu {
		font-size: 14px;
		font-family:  Aargh sans-serif;
		text-transform: lowercase;
		font-weight: bold;
	}
	.mailMenu {
		font-family:  Aargh sans-serif;
		font-size: 14px;
		color: #C30712;
		margin-top: 20px;
		width: 290px;
		font-weight: bold;
	}
	.copyrightMenu {
		position:relative;
		top:250px;
		a {
			display: flex;
			bottom: 150px;
			position: relative;
			left: 205px;
			font-size: 9px;
			font-family:  Aargh sans-serif;
		}
	}
	.infosMenu {
		display: block;
		position: relative;
		bottom: 0px;
		right: -35px;
		text-align: left;
	}
	.buttonsMenu{
		bottom:90px;
		right:90px;
	}
}

/* ----------- iPad 3, 4 and Pro 9.7 Landscape  -----------*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

	#menu{
		margin: 230px -371px;
		font-size: 24px;
		ul{
			font-size: 24px;
			text-align: right;
			bottom: 150px;
			position: relative;
			left: 360px;
			line-height: initial;
		}
		li{
			font-size:24px;
		}
		.logoMobile{
			display:none;
		}
		.logoDeskop{
			left: -315px;
			top: -250px;
			width:30%;
			position:relative;
		}
	}

	.socialIconMenu{
		bottom:300px;
		position:relative;
		right:310px;
		a{
			margin-right:2%;
		}
	}

	.newsletterMenu{
		bottom: 270px;
		position: relative;
		right: 290px;
		.stay {
			font-size: 24px;
			color: #C30712;
			font-family: RabbiHighway sans-serif;
			font-weight: bold;

		}
		.news {
			line-height: 30px;
			font-family: StMarie sans-serif;
			font-size: 24px;
		}
	}

	.paperPlaneSolo{
		position:relative;
		left:45px;
		top:40px;
	}

	.buttonsMenu{
		position:relative;
		bottom:50px;
		a {
			border: 1px black solid;
			border-radius:28px;
			padding:2%;
			font-size:11px;
			padding-right: 5%;
			padding-left: 5%;
			margin-right: 3%;
			box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.22);

		}
	}

	.titleInfoMenu {
		font-size: 16px;
		font-family: RabbiHighway sans-serif;
		color: #C30712;
		margin-bottom: 15px;
	}
	.adressInfoMenu {
		font-size: 14px;
		font-family:  Aargh sans-serif;
		text-transform: lowercase;
		font-weight: bold;
	}
	.mailMenu {
		font-family:  Aargh sans-serif;
		font-size: 14px;
		color: #C30712;
		margin-top: 20px;
		width: 290px;
		font-weight: bold;
	}
	.copyrightMenu {
		position:relative;
		top:-100px;
		a {
			display: flex;
			bottom: 150px;
			position: relative;
			left: 380px;
			font-size: 9px;
			font-family:  Aargh sans-serif;
		}
	}
	.infosMenu {
		display: block;
		position: relative;
		bottom: 0px;
		right: -35px;
		top:-649px;
		text-align: left;
	}
	.buttonsMenu{
		bottom:235px;
		right:160px;
	}
}

