$dark-orange : #DF7806;
$light-orange: #F99E0B;
$red: #C30700;



@media only screen and (max-width: 600px) {
    body {
    margin:0;
    }

    .headerOrange {
    position:relative;
   
    background: #DF7806;
    color:white;
    }
    .HeaderWaveClient {
        background: #DF7806;
    }

    .menuDesktop {
        display: none;
    }
    .inner-header {
    height:1vh;
    width:100%;
    margin: 0;
    padding: 0;
    }
    .HeaderWaveLogoClientMobile {
        display: flex;
        width: 80px;
        padding-top: 20px;
        margin-left: 15px;
    }
    .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    }

    .contentWhite {
    position:relative;
    height:8vh;
    text-align:center;
    background-color: #ffffff;

    button {
        transform: scale(1);
        transition: transform 450ms;
        transition-delay:  150ms; 
        &:hover {
            transform:scale(1.15);
    }
    }
    p{

        width:70%;
        padding:2%;
    }
    }

    /* Animation */

    .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    }
    @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
    }
    
}

@media only screen and (min-width: 768px) {
        body {
    margin:0;
    }

    h1 {
  
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
    }
    p {
    
    letter-spacing: 1px;
    font-size:14px;
    color: #000000;
    }

    .headerOrange {
    position:relative;
    background: #DF7806;
    color:white;
    }
    .HeaderWaveClient {
        background: #DF7806;
    }

    .inner-header {
    height:1vh;
    width:100%;
    margin: 0;
    padding: 0;
    }
    .HeaderWaveLogoClientMobile {
        display: flex;
        width: 100px;
        padding-top: 20px;
        margin-left: 30px;
    }
    .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    }

    .contentWhite {
    position:relative;
    height:8vh;
    text-align:center;
    background-color: #ffffff;

    button {
        transform: scale(1);
        transition: transform 450ms;
        transition-delay:  150ms; 
        &:hover {
            transform:scale(1.15);
    }
    }
    p{

        width:70%;
        padding:2%;
    }
    }

    /* Animation */

    .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    }
    @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
    }
}
@media only screen and (min-width: 768px) and (orientation:portrait) {
    .menuDesktop {
        display: none;
    }
}
@media (max-width: 768px) and  (orientation:landscape){
    
    .content{
        height:60vh;
    }
    .menuDesktop > a {
        margin-right: 10px;
    }
}

.menuDesktop > a {
    margin-right: 10px;
}

.menuDesktop {
    margin-top: 30px;
}