video {

    width:100%;
}

.title{

    text-align: center;
}

section {

    position:relative;
}

button {

    background-color: rgba(255, 255, 255, 0.609);
    color:black;
    font-weight: bold;
    border:none;
    border-radius: 28px;
    width: 150px;
    padding: 1%;
    cursor:pointer;
}

h3 {

    color:rgba(240,132,18);
    text-align: center;
    margin: 5%;
    font-size: 1.5rem;
}

.pictures{

    display:flex;
    justify-content:center;

    img{
        width: 40%;
        height:40%;
        position:relative;
    }
    
 
       
    i{

        color:rgb(172, 9, 9);
        margin-left:3px;
    }
}

.userButton{
    position:absolute;
    z-index:1;
    display:flex;
    justify-content: space-between;
    width:77%;
    cursor: pointer;
    margin-top:15px;

}

@media screen and (max-width: 767px) {
    video{
    width: 100%;
    }

    .title{
        text-align: center;
        margin-top:100px;
    }
    .joinUs{
        margin-top:5%;
    }
    .pictures{
        display:flex;
        justify-content: center;
        padding: 5%;
        color:black;

        
        img{
            display:none;
        }

        .userButton{

            margin-bottom:15px;
        }

        i{

            color:rgb(172, 9, 9);
        }
    }
}

@media screen and (min-width: 740px) and (max-width:1025px){

    video {
        width:100%;
    }

    
    .title{
        text-align: center;
    }
    button{
        padding:2%;
    }
    .joinUs{
        margin-top:5%;
    }
    
    .pictures{
        display:flex;
        justify-content: center;
        padding: 5%;
        color:black;

        img{
            display:none;
        }

        .userButton{
            justify-content: center;
            
            p{
                margin:auto;
            }

        }
        i{

            color:rgb(172, 9, 9);
        }

        .influ {

            width:160px;
        }
    }

}

