.services {
  background-image: url("img/infini_vertical_opacity.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
}

.infiTitle, .trustTitle {
  text-align: center;
  font-family: RabbiHighway sans-serif;
  font-weight: bold;
  margin-top: 1%;
}

.infiSubtitle {
  text-align: center;
  font-family: StMarie sans-serif;
  font-size: 1.8rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container2, .container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container3 {
  margin-bottom: 1%;
}

.orange-bg {
  background-color: #F99E0B;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.orange-bg i {
  color: #C30700;
}

.visualID, .webSite, .shipping, .print, .community, .stratMarket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
  font-family: StMarie sans-serif;
  width: 20%;
}

.visualID .iconSubtitle, .webSite .iconSubtitle, .shipping .iconSubtitle, .print .iconSubtitle, .community .iconSubtitle, .stratMarket .iconSubtitle {
  color: #8d8d8d;
  margin-top: 1%;
  margin-bottom: 1%;
}

.webSite, .shipping {
  margin-right: 5%;
}

.community {
  margin-top: 5%;
}

.trust {
  margin-top: -10%;
  margin-bottom: 10%;
}

.trustTitle {
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  .services {
    background-size: 90%;
    margin-bottom: 130%;
  }
  .container2, .container3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .webSite, .shipping {
    width: 100%;
  }
  .visualID, .webSite, .shipping, .print, .community, .stratMarket {
    width: 100%;
  }
  .print {
    width: 100%;
  }
  .community {
    width: 100%;
  }
  .stratMarket {
    width: 100%;
  }
  .pricing-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1%;
  }
  .trust {
    margin-top: -190%;
  }
}

@media screen and (min-width: 740px) and (max-width: 1025px) {
  .services {
    background-size: 90%;
    margin-bottom: 130%;
  }
  .container2, .container3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .webSite, .shipping {
    width: 100%;
  }
  .visualID, .webSite, .shipping, .print, .community, .stratMarket {
    width: 100%;
  }
  .print {
    width: 100%;
  }
  .community {
    width: 100%;
  }
  .stratMarket {
    width: 100%;
  }
  .pricing-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1%;
  }
  .trust {
    margin-top: -100%;
  }
}

@media screen and (min-width: 740px) and (max-width: 1025px) and (orientation: landscape) {
  .trust {
    margin-top: -70%;
  }
}

@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}

@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}

@font-face {
  font-family: StMarie sans-serif;
  src: url("fonts/StMarie-Thin.otf;");
}
/*# sourceMappingURL=influ.css.map */