
@import "burgermenu.scss";
@import "waves.scss";
@import "front-page.scss";

* {

    margin: 0;
    padding: 0;
}


body {

    background-color: white;
    color:black;
    font-family: Leelawad, sans-serif;
}

@font-face {
    font-family: Leelawad, sans-serif;
    src: url(fonts/leelawad.ttf);
}

