
@import "burgermenu.scss";
@import "waves.scss";
@import "front-page.scss";
@import "footer.scss";


$dark-orange : #DF7806;
$light-orange: #F99E0B;
$red: #C30700;

* {

    margin: 0;
    padding: 0;
}

a {

    text-decoration: none;
    color:black;
}

ul {

    list-style-type: none;
}

body {

    background-color: white;
    color:black;
    
}

@font-face {
    font-family: RabbiHighway sans-serif;
    src: url('fonts/RabbidHighwaySignII.otf');
}

@font-face {
    font-family: Aargh sans-serif;
    src: url('fonts/Aaargh.ttf');
  }
