/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
}

#menuToggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    margin-left: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    position: absolute;
    width: 150px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: flex;
    flex-direction: column;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menu a:hover {
    color: #DF7806;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media screen and (max-width: 767px) {
  #menu {
    flex-direction: row;
    padding-top: 110px;
    width: 100%;
  }
  #menu a {
    margin-right: 2%;
  }
}
@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}
@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}
body {
  margin: 0;
}

h1 {
  font-family: Aargh sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: Aargh sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #000000;
}

.header {
  position: relative;
  text-align: center;
  background: white;
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 15vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #DF7806;
  font-family: Aargh sans-serif;
}
.content button {
  transform: scale(1);
  transition: transform 350ms;
  transition-delay: 50ms;
}
.content button:hover {
  transform: scale(1.15);
}
.content p {
  width: 70%;
  padding: 2%;
}

.titleFooter {
  margin-bottom: 6px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 767px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }
  .content p {
    margin-bottom: 1%;
  }

  h1 {
    font-size: 24px;
  }

  .flex {
    flex-direction: column;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .content {
    height: 60vh;
  }
}
@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}
@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .headerOrange {
    position: relative;
    background: #DF7806;
    color: white;
  }

  .HeaderWaveClient {
    background: #DF7806;
  }

  .menuDesktop {
    display: none;
  }

  .inner-header {
    height: 1vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .HeaderWaveLogoClientMobile {
    display: flex;
    width: 80px;
    padding-top: 20px;
    margin-left: 15px;
  }

  .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }

  .contentWhite {
    position: relative;
    height: 8vh;
    text-align: center;
    background-color: #ffffff;
  }
  .contentWhite button {
    transform: scale(1);
    transition: transform 450ms;
    transition-delay: 150ms;
  }
  .contentWhite button:hover {
    transform: scale(1.15);
  }
  .contentWhite p {
    width: 70%;
    padding: 2%;
  }

  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }

  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }

  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }

  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }

  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
  }

  p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #000000;
  }

  .headerOrange {
    position: relative;
    background: #DF7806;
    color: white;
  }

  .HeaderWaveClient {
    background: #DF7806;
  }

  .inner-header {
    height: 1vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .HeaderWaveLogoClientMobile {
    display: flex;
    width: 100px;
    padding-top: 20px;
    margin-left: 30px;
  }

  .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }

  .contentWhite {
    position: relative;
    height: 8vh;
    text-align: center;
    background-color: #ffffff;
  }
  .contentWhite button {
    transform: scale(1);
    transition: transform 450ms;
    transition-delay: 150ms;
  }
  .contentWhite button:hover {
    transform: scale(1.15);
  }
  .contentWhite p {
    width: 70%;
    padding: 2%;
  }

  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }

  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }

  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }

  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }

  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .menuDesktop {
    display: none;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .content {
    height: 60vh;
  }

  .menuDesktop > a {
    margin-right: 10px;
  }
}
.menuDesktop > a {
  margin-right: 10px;
}

.menuDesktop {
  margin-top: 30px;
}

.headerClient {
  background-color: #DF7806;
}

video {
  width: 100%;
}

.title {
  text-align: center;
  font-family: RabbiHighway sans-serif;
}
.title h1 {
  font-family: RabbiHighway sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
}
.title h1 p {
  font-size: 3rem;
  font-family: RabbiHighway sans-serif;
  text-shadow: black 1px 0px 0px, black 0.540302px 0.841471px 0px, black -0.416147px 0.909297px 0px, black -0.989993px 0.14112px 0px, black -0.653644px -0.756803px 0px, black 0.283662px -0.958924px 0px, black 0.96017px -0.279416px 0px;
  color: white;
}

section {
  position: relative;
}

.content button {
  background-color: rgba(255, 255, 255, 0.609);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 28px;
  width: 150px;
  padding: 1%;
  cursor: pointer;
}

h3 {
  color: #DF7806;
  text-align: center;
  margin: 5%;
  font-size: 2rem;
  font-family: RabbiHighway sans-serif;
}

.pictures {
  display: flex;
  justify-content: center;
}
.pictures img {
  width: 40%;
  height: 40%;
  position: relative;
}
.pictures i {
  color: #C30700;
  margin-left: 3px;
}

.userButton {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 77%;
  cursor: pointer;
  margin-top: 15px;
}

.text_anime {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
    font-family: RabbiHighway sans-serif;
  }
  .title h1 {
    font-family: RabbiHighway sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .title h1 p {
    font-size: 1.5rem;
    font-family: RabbiHighway sans-serif;
    text-shadow: black 1px 0px 0px, black 0.540302px 0.841471px 0px, black -0.416147px 0.909297px 0px, black -0.989993px 0.14112px 0px, black -0.653644px -0.756803px 0px, black 0.283662px -0.958924px 0px, black 0.96017px -0.279416px 0px;
    color: white;
  }

  section {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  video {
    width: 100%;
  }

  .title {
    text-align: center;
    margin-top: 100px;
  }

  .joinUs {
    margin-top: 5%;
  }

  .pictures {
    display: flex;
    justify-content: center;
    padding: 5%;
    color: black;
  }
  .pictures img {
    display: none;
  }
  .pictures .userButton {
    margin-bottom: 15px;
  }
  .pictures i {
    color: #C30700;
  }
}
@media screen and (min-width: 740px) and (max-width: 1025px) {
  video {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  button {
    padding: 2%;
  }

  .joinUs {
    margin-top: 5%;
  }

  .pictures {
    display: flex;
    justify-content: center;
    padding: 5%;
    color: black;
  }
  .pictures img {
    display: none;
  }
  .pictures .userButton {
    justify-content: center;
  }
  .pictures .userButton p {
    margin: auto;
  }
  .pictures i {
    color: #C30700;
  }
  .pictures .influ {
    width: 160px;
  }
}
@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}
@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}
.mainFooter {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentFooter {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.content2Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.logoFooter {
  width: 10%;
  margin-left: 41px;
}

.socialFooter {
  width: 200%;
  border-right: 1px black solid;
}
.socialFooter p {
  font-size: 2.5rem;
}
.socialFooter:nth-child(1) {
  order: 2;
}
.socialFooter .socialIcon {
  display: flex;
  justify-content: center;
}
.socialFooter p {
  width: auto;
}

.infoFooter {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoFooter:nth-child(2) {
  order: 2;
}

.titleFooter {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.contactFooter {
  border-right: 1px black solid;
  width: 70%;
}
.contactFooter:nth-child(3) {
  order: 1;
}

.copyrightFooter {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  width: 100%;
}
.copyrightFooter p {
  text-align: left;
}
.copyrightFooter ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyrightFooter ul li {
  margin-right: 2px;
}

@media screen and (max-width: 767px) {
  .contentFooter {
    align-items: center;
    flex-direction: column;
  }

  .content2Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoFooter {
    width: 40%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .socialFooter {
    width: 100%;
    border: none;
  }
  .socialFooter p {
    font-size: 1rem;
  }

  .socialIcon i {
    font-size: 1.5rem;
  }

  .infoFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contactFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .copyrightFooter {
    border-top: 1px black solid;
    font-size: 12px;
    color: #bbbbbb;
    display: flex;
    align-items: center;
  }
  .copyrightFooter p {
    font-size: 8px;
  }
  .copyrightFooter ul {
    font-size: 8px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1025px) {
  .contentFooter {
    flex-direction: column;
  }

  .content2Footer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
    width: 100%;
  }

  .mainFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoFooter {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .socialFooter {
    width: 100%;
    border: none;
  }
  .socialFooter a {
    font-size: 1.8rem;
  }
  .socialFooter p {
    font-size: 1.3rem;
  }

  .copyrightFooter {
    border-top: 1px black solid;
    font-size: 12px;
    color: #bbbbbb;
    display: flex;
    align-items: center;
  }

  .infoFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contactFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
  }
}
@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}
@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}
.contactUs {
  font-weight: 400;
  padding-top: 0;
  margin-top: 0;
  font-family: RabbiHighway sans-serif;
  text-align: center;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.buttonForm {
  background: #DF7806;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 8%;
  font-family: Marie sans-serif;
}

.disabled {
  display: none;
}

.sectionForm {
  padding: 50px;
  max-width: 300px;
  margin: 30px auto;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.sectionForm input {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family: Aargh sans-serif;
  background: white;
}
.sectionForm p {
  text-align: justify;
  margin-top: 0;
  font-family: Marie sans-serif;
}
.sectionForm textarea {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family: Aargh sans-serif;
  background: white;
}

@media only screen and (max-width: 600px) {
  .buttonForm {
    width: 30%;
    font-family: Marie sans-serif;
  }
}
@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}
@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}
@font-face {
  font-family: Marie sans-serif;
  src: url("fonts/StMarie-Thin.otf");
}
textarea {
  resize: none;
}

@media only screen and (max-width: 600px) {
  .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage {
    margin-top: 10px;
  }

  #namePart, #emailPart, #subjetPart, #messagePart {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
  }

  #messagePart {
    height: 150px;
  }

  #messagePart::placeholder {
    padding-top: 12px;
  }

  #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder {
    color: #c7ceda;
    padding-left: 20px;
  }

  .buttonPart {
    margin-top: 20px;
    background-color: #DF7806;
    color: white;
    width: 180px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
  }

  .imagePart2 {
    display: none;
  }

  .imagePart3 {
    display: none;
  }

  .titlePart {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .containerPart {
    margin: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .containerPart {
    margin: 20px;
  }

  .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage {
    margin-top: 10px;
  }

  #namePart, #emailPart, #subjetPart, #messagePart {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #868686;
  }

  #messagePart {
    height: 150px;
  }

  #messagePart::placeholder {
    padding-top: 12px;
  }

  #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder {
    color: #9c9c9c;
    padding-left: 20px;
  }

  .buttonPart {
    margin-top: 20px;
    background-color: #DF7806;
    color: white;
    width: 180px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
  }

  .imagePart {
    display: flex;
    flex-direction: column;
  }

  .imagePart2 {
    width: 100%;
    margin-top: 30px;
  }

  .imagePart3 {
    display: none;
  }

  .titlePart {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage, .inputPartCompany {
    margin-top: 10px;
  }

  #namePart, #emailPart, #subjetPart, #messagePart, #inputPartCompany {
    margin-top: 10px;
    width: 150%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
  }

  #messagePart {
    height: 150px;
  }

  #messagePart::placeholder {
    padding-top: 12px;
  }

  #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder {
    color: #c7ceda;
    padding-left: 20px;
  }

  .buttonPart {
    margin-top: 20px;
    background-color: #DF7806;
    color: white;
    width: 180px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
  }

  .imagePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
  }

  .imagePart2 {
    width: 100%;
    margin-top: 30px;
  }

  .imagePart3 {
    display: flex;
    width: 70%;
    justify-content: center;
  }

  .titlePart {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .textPart {
    margin-bottom: 15px;
  }

  .containerPart {
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
  }

  .leftPart {
    margin-right: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .inputPartName, .inputPartName, .inputPartEmail, .inputPartSubject, .inputPartMessage, .inputPartCompany {
    margin-top: 10px;
  }

  #namePart, #emailPart, #subjetPart, #messagePart, #yourCompany {
    margin-top: 10px;
    width: 110%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
  }

  #messagePart {
    height: 150px;
  }

  #messagePart::placeholder {
    padding-top: 12px;
  }

  #namePart::placeholder, #emailPart::placeholder, #subjetPart::placeholder, #messagePart::placeholder, #yourCompany::placeholder {
    color: #c7ceda;
    padding-left: 20px;
  }

  .buttonPart {
    margin-top: 20px;
    background-color: #F99E0B;
    color: white;
    width: 180px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    transition: 300ms;
  }
  .buttonPart:hover {
    background-color: #DF7806;
    transform: scale(1.2);
    transition: 300ms;
  }

  .imagePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
  }

  .imagePart2 {
    width: 100%;
    margin-top: 30px;
  }

  .imagePart3 {
    display: flex;
    width: 70%;
    justify-content: center;
  }

  .titlePart {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .textPart {
    margin-bottom: 15px;
  }

  .containerPart {
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
  }

  .leftPart {
    margin-right: 200px;
  }
}
.buttonPart {
  cursor: pointer;
}

/***************************
 *  Variables
 **************************/
/***************************
 *  Project Main Styles
 **************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background-color: #e2e2e2;
}

/***************************
 *  Application Main Styles
 **************************/
#menu--toggle[type=checkbox]:not(:checked),
#menu--toggle[type=checkbox]:checked {
  display: none;
}

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
  position: absolute;
  margin-right: 30px;
  top: -3em;
  right: 1.6em;
  width: 2em;
  height: 5px;
  background-color: #282828;
  border-radius: 2px;
  cursor: pointer;
  z-index: 100;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu--toggle__trigger {
  height: 2em;
  background: none;
}

.menu--toggle__burger:before {
  content: "";
  top: 10px;
  left: 0;
}
.menu--toggle__burger:after {
  content: "";
  top: 20px;
  left: 0;
}

.menu__body {
  position: absolute;
  width: 0em;
  height: 0em;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  border-bottom-right-radius: 100%;
  box-shadow: 3px 3px 7px rgba(40, 40, 40, 0.2);
  z-index: 10;
  animation: checkboxUncheckedAnimation 0.35s both;
}

.menu__body-element,
.menu__body-link {
  display: none;
  margin: 4.4em 0 -3.3em -0.1em;
  font-weight: normal;
  color: #282828;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
}

.menu__body-element {
  text-indent: 2em;
}

.menu__body-link:hover {
  display: block;
  width: 0;
  color: #282828;
  background-color: #e2e2e2;
  animation: changeWidthOfElementAnimation 0.35s both;
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
  top: 35px;
  transform: rotate(45deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-direction: reverse;
}
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
  animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}
#menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
  display: block;
}

.promotion {
  background-size: cover;
}

/**
 *  Animations
 *
 *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
 */
@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes changeWidthOfElementAnimation {
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
    position: absolute;
    margin-right: 5px;
    top: -3em;
    right: 1.6em;
    width: 2em;
    height: 5px;
    background-color: #282828;
    border-radius: 2px;
    cursor: pointer;
    z-index: 100;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .menu--toggle__trigger {
    height: 2em;
    background: none;
  }

  .menu--toggle__burger:before {
    content: "";
    top: 10px;
    left: 0;
  }
  .menu--toggle__burger:after {
    content: "";
    top: 20px;
    left: 0;
  }

  .menu__body {
    position: absolute;
    width: 0em;
    height: 0em;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    border-bottom-right-radius: 100%;
    box-shadow: 3px 3px 7px rgba(40, 40, 40, 0.2);
    z-index: 10;
    animation: checkboxUncheckedAnimation 0.35s both;
  }

  .menu__body-element,
.menu__body-link {
    display: none;
    margin: 4.4em 0 -3.3em -0.1em;
    font-weight: normal;
    color: #282828;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
  }

  .menu__body-element {
    text-indent: 2em;
  }

  .menu__body-link:hover {
    display: block;
    width: 0;
    color: #282828;
    background-color: #e2e2e2;
    animation: changeWidthOfElementAnimation 0.35s both;
  }

  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
    top: 35px;
    transform: rotate(45deg);
    transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
    top: 0;
    transform: rotate(90deg);
    transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-direction: reverse;
  }
  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
    top: 0;
    transform: rotate(90deg);
    transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
    animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  }
  #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
    display: block;
  }

  .promotion {
    background-size: cover;
  }

  /**
   *  Animations
   *
   *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
   */
  @keyframes checkboxCheckedAnimation {
    50% {
      width: 100vw;
      height: 100vh;
    }
    100% {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }
  }
  @keyframes checkboxUncheckedAnimation {
    0% {
      width: 100vw;
      height: 100vh;
    }
  }
  @keyframes changeWidthOfElementAnimation {
    50% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background: #F99E0B;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(34.375px);
}
.honeycomb-cell {
  flex: 0 1 250px;
  max-width: 250px;
  height: 137.5px;
  margin: 65.4761904762px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
}
.honeycomb-cell__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.75em;
  transition: opacity 350ms;
}
.honeycomb-cell__title > small {
  font-weight: 300;
  margin-top: 0.25em;
}
.honeycomb-cell__image {
  object-fit: cover;
  object-position: center;
}
.honeycomb-cell::before, .honeycomb-cell::after {
  content: "";
}
.honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before {
  background: #fff;
  transform: scale(1.055);
}
.honeycomb-cell::after {
  background: #F99E0B;
  opacity: 0.5;
  transition: opacity 350ms;
}
.honeycomb-cell:hover .honeycomb-cell__title {
  opacity: 0;
}
.honeycomb-cell:hover::before {
  background: #DF7806;
}
.honeycomb-cell:hover::after {
  opacity: 0;
}
.honeycomb__placeholder {
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}

@media (max-width: 550px) {
  .honeycomb-cell {
    margin: 81.25px 25px;
  }
}
@media (min-width: 550px) and (max-width: 825px) {
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb__placeholder:nth-child(3n+5) {
    display: block;
  }
}
@media (min-width: 825px) and (max-width: 1100px) {
  .honeycomb-cell:nth-child(5n+4) {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n+5) {
    margin-right: calc(50% - 275px);
  }

  .honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n+3) {
    display: block;
  }
}
@media (min-width: 1100px) {
  .honeycomb-cell:nth-child(7n+5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n+7), .honeycomb-cell:nth-child(7n+5):nth-last-child(2) {
    margin-right: calc(50% - 400px);
  }

  .honeycomb__placeholder:nth-child(7n+7), .honeycomb__placeholder:nth-child(7n+9), .honeycomb__placeholder:nth-child(7n+11) {
    display: block;
  }
}
.pricing-table {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  margin-top: 279px;
  background: #DF7806;
}
.pricing-table .card {
  width: 300px;
  height: 500px;
  padding: 30px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
  color: white;
  margin-top: 2%;
}
.pricing-table .card:nth-child(1) {
  background: #C30700;
  background: linear-gradient(to left, #F99E0B, #DF7806, #C30700);
}
.pricing-table .card:nth-child(1) .price::before {
  content: "$39";
}
.pricing-table .card:nth-child(2) {
  margin: 0 30px;
  z-index: 2;
  width: 300px;
  height: 550px;
  background: #C30700;
  background: linear-gradient(to right, #F99E0B, #DF7806, #C30700);
}
.pricing-table .card:nth-child(2) .price::before {
  content: "$69";
}
.pricing-table .card:nth-child(3) {
  background: #C30700;
  background: linear-gradient(to right, #F99E0B, #DF7806, #C30700);
}
.pricing-table .card:nth-child(3) .price::before {
  content: "$89";
}
.pricing-table .card:nth-child(1) .price, .pricing-table .card:nth-child(3) .price {
  font-size: 6rem;
}
.pricing-table .card:nth-child(1) .buy-button, .pricing-table .card:nth-child(3) .buy-button {
  width: 230px;
  height: 170px;
}
.pricing-table .card:nth-child(1) .buy-button h3, .pricing-table .card:nth-child(3) .buy-button h3 {
  top: 12%;
  left: 10%;
  font-size: 1rem;
}
.pricing-table .card .type {
  margin-top: 30px;
  letter-spacing: 0.1rem;
}
.pricing-table .card .price {
  font-size: 7.5rem;
  position: relative;
  margin: 10px 0px 20px;
  z-index: 2;
}
.pricing-table .card .price span {
  font-size: 1.8rem;
  position: absolute;
  left: -15%;
  top: 65%;
}
.pricing-table .card .price::before {
  position: absolute;
  content: "";
  color: rgba(255, 255, 255, 0.06);
  font-size: 9.5rem;
  z-index: -1;
  right: -30%;
  bottom: 15%;
  text-shadow: 0 0 0px rgba(51, 55, 69, 0);
  transition: all 1s ease-in-out;
}
.pricing-table .card .plan {
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 10px;
}
.pricing-table .card .plan::before, .pricing-table .card .plan::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background: #fff;
  bottom: 40%;
  transition: all 0.2s ease-out;
}
.pricing-table .card .plan::before {
  right: 100%;
  transform: translate(-50%, -50%);
}
.pricing-table .card .plan::after {
  right: -100%;
  transform: translate(0%, -50%);
}
.pricing-table .card .details {
  text-transform: capitalize;
}
.pricing-table .card .details li {
  margin: 15px 0px;
}
.pricing-table .card .buy-button {
  cursor: pointer;
  position: absolute;
  width: 250px;
  height: 180px;
  background: #F99E0B;
  border-radius: 15%;
  right: -34%;
  bottom: -22%;
  transition: all 0.4s ease-in-out;
}
.pricing-table .card .buy-button h3 {
  text-shadow: 0 0 0;
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 8%;
  top: 10%;
  color: #333745;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
}
.pricing-table .card:hover {
  transform: scale(1.02);
}
.pricing-table .card:hover .price::before {
  animation: text-hover 1s ease-in-out infinite normal;
}
.pricing-table .card:hover .plan::before {
  right: 90%;
}
.pricing-table .card:hover .plan::after {
  right: -90%;
}
.pricing-table .card:hover .buy-button {
  width: 100%;
  right: 0%;
  border-radius: 0%;
}
.pricing-table .card:hover .buy-button h3 {
  left: 50%;
  transform: translate(-50%, 0%);
}

@keyframes text-hover {
  0% {
    right: -30%;
  }
  50% {
    right: -37%;
  }
  100% {
    right: -30%;
  }
}
.services {
  background-image: url("img/infini_vertical_opacity.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
}

.infiTitle, .trustTitle {
  text-align: center;
  font-family: RabbiHighway sans-serif;
  font-weight: bold;
  margin-top: 1%;
}

.infiSubtitle {
  text-align: center;
  font-family: StMarie sans-serif;
  font-size: 1.8rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2, .container3 {
  display: flex;
  justify-content: center;
}

.container3 {
  margin-bottom: 1%;
}

.orange-bg {
  background-color: #F99E0B;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.orange-bg i {
  color: #C30700;
}

.visualID, .stratMarket, .community, .print, .webSite, .shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  font-family: StMarie sans-serif;
  width: 20%;
}
.visualID .iconSubtitle, .stratMarket .iconSubtitle, .community .iconSubtitle, .print .iconSubtitle, .webSite .iconSubtitle, .shipping .iconSubtitle {
  color: #8d8d8d;
  margin-top: 1%;
  margin-bottom: 1%;
}

.webSite, .shipping {
  margin-right: 5%;
}

.community {
  margin-top: 5%;
}

.trust {
  margin-top: -10%;
  margin-bottom: 10%;
}

.trustTitle {
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  .services {
    background-size: 90%;
    margin-bottom: 130%;
  }

  .container2, .container3 {
    flex-direction: column;
  }

  .webSite, .shipping {
    width: 100%;
  }

  .visualID, .webSite, .print, .community, .shipping, .stratMarket {
    width: 100%;
  }

  .print {
    width: 100%;
  }

  .community {
    width: 100%;
  }

  .stratMarket {
    width: 100%;
  }

  .pricing-table {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
  }

  .trust {
    margin-top: -190%;
  }
}
@media screen and (min-width: 740px) and (max-width: 1025px) {
  .services {
    background-size: 90%;
    margin-bottom: 130%;
  }

  .container2, .container3 {
    flex-direction: column;
  }

  .webSite, .shipping {
    width: 100%;
  }

  .visualID, .webSite, .print, .community, .shipping, .stratMarket {
    width: 100%;
  }

  .print {
    width: 100%;
  }

  .community {
    width: 100%;
  }

  .stratMarket {
    width: 100%;
  }

  .pricing-table {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
  }

  .trust {
    margin-top: -100%;
  }
}
@media screen and (min-width: 740px) and (max-width: 1025px) and (orientation: landscape) {
  .trust {
    margin-top: -70%;
  }
}
@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}
@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}
@font-face {
  font-family: StMarie sans-serif;
  src: url("fonts/StMarie-Thin.otf;");
}
#aninfinitymov path:nth-child(2) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(3) {
  stroke-dasharray: 495;
  stroke-dashoffset: 495;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(4) {
  stroke-dasharray: 635;
  stroke-dashoffset: 635;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(5) {
  stroke-dasharray: 604;
  stroke-dashoffset: 604;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(6) {
  stroke-dasharray: 463;
  stroke-dashoffset: 463;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(7) {
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(8) {
  stroke-dasharray: 604;
  stroke-dashoffset: 604;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(9) {
  stroke-dasharray: 570;
  stroke-dashoffset: 570;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(10) {
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

#aninfinitymov path:nth-child(11) {
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  animation: line-anim 2.45s ease forwards 0.8s infinite;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
.animate_tablet {
  display: flex;
}

.animate_letter {
  display: flex;
  justify-content: center;
}

.title_aninfinity {
  font-size: 4rem;
  font-family: RabbiHighway sans-serif;
  text-shadow: black 2px 0px 0px, black 1.75517px 0.958851px 0px, black 1.0806px 1.68294px 0px, black 0.141474px 1.99499px 0px, black -0.832294px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97999px 0.28224px 0px, black -1.87291px -0.701566px 0px, black -1.30729px -1.51361px 0px, black -0.421592px -1.95506px 0px, black 0.567324px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.558831px 0px;
  color: white;
  margin-left: 10px;
  margin-top: 6px;
  margin-right: 15px;
}

.aninfinitymovall {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

.aninfinitymovallflex {
  margin: auto;
}

.subtitle_aninfinity {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.subtitle_aninfinity h2 {
  font-size: 65px;
  font-weight: 300;
  font-family: RabbiHighway sans-serif;
}

#container_aninfinity {
  font-size: 50px;
  font-weight: bold;
  font-family: RabbiHighway sans-serif;
}

#flip_aninfinity {
  height: 77px;
  overflow: hidden;
}

#flip_aninfinity > div > div {
  color: black;
  height: 40px;
  margin-bottom: 50px;
  display: inline-block;
  font-size: 40px;
  font-family: RabbiHighway sans-serif;
}

#flip_aninfinity div:first-child {
  font-size: 65px;
  animation: show 12s reverse infinite;
}

@keyframes show {
  0% {
    margin: top -330px;
  }
  5% {
    margin-top: -228px;
  }
  25% {
    margin-top: -228px;
  }
  30% {
    margin-top: -150px;
  }
  50% {
    margin-top: -150px;
  }
  55% {
    margin-top: -72px;
  }
  75% {
    margin-top: -72px;
  }
  80% {
    margin-top: 3px;
  }
  99.99% {
    margin-top: 3px;
  }
  100% {
    margin-top: -330px;
  }
}
@media only screen and (max-width: 600px) {
  .animate_letter {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  .subtitle_aninfinity {
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }
  .subtitle_aninfinity h2 {
    margin-top: 40px;
    font-size: 45px;
    font-weight: 300;
    font-family: RabbiHighway sans-serif;
  }

  #container_aninfinity {
    font-size: 40px;
    font-weight: bold;
    font-family: RabbiHighway sans-serif;
  }

  #flip_aninfinity div:first-child {
    font-size: 45px;
    animation: show 12s reverse infinite;
  }

  #container_aninfinity {
    margin-left: 15px;
  }

  #aninfinitymov {
    width: 230px;
    margin-left: 15px;
  }

  .title_aninfinity {
    font-size: 2.8rem;
    font-family: RabbiHighway sans-serif;
    text-shadow: black 2px 0px 0px, black 1.75517px 0.958851px 0px, black 1.0806px 1.68294px 0px, black 0.141474px 1.99499px 0px, black -0.832294px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97999px 0.28224px 0px, black -1.87291px -0.701566px 0px, black -1.30729px -1.51361px 0px, black -0.421592px -1.95506px 0px, black 0.567324px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.558831px 0px;
    color: white;
    margin-left: 15px;
    margin-top: 17px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .subtitle_aninfinity h2 {
    font-size: 66px;
    margin-left: 100px;
    margin-top: 40px;
  }

  .subtitle_aninfinity {
    margin-left: 0;
  }

  .animate_tablet {
    display: flex;
    margin-left: 100px;
  }

  #container_aninfinity {
    margin-left: 100px;
  }

  .animate_letter {
    display: block;
  }
}
@media only screen and (min-width: 1250px) {
  .animate_letter {
    display: flex;
  }

  #container_aninfinity {
    margin-left: 0px;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  line-height: 1.7rem;
}

body {
  background-color: white;
  color: black;
}

@font-face {
  font-family: RabbiHighway sans-serif;
  src: url("fonts/RabbidHighwaySignII.otf");
}
@font-face {
  font-family: Aargh sans-serif;
  src: url("fonts/Aaargh.ttf");
}

/*# sourceMappingURL=style.css.map */
